<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.controller.mapper.ITagBoardMapper">

	<!-- VO랑 연결하는 작업, 마이바티스야.. 찾아가주렴.. 내 VO에 있는 필드값이랑.... 잘 짝지어줘 -->
	<resultMap type="kr.or.ddit.vo.TagBoardVO" id="tagboardMap">
		<id property="boNo" column="bo_no"/>
		<result property="boTitle"  column="bo_title"/>	
		<result property="boContent"  column="bo_content"/>	
		<result property="boWriter"  column="bo_writer"/>	
		<result property="boDate"  column="bo_date"/>	
		<result property="boHit"  column="bo_hit"/>	
		<collection property="tagList" resultMap="tagMap" />
	</resultMap>
		
	<resultMap type="kr.or.ddit.vo.TagVO" id="tagMap">
		<result property="boNo"  column="bo_no"/>	
		<result property="tagName"  column="tag_name"/>	
	</resultMap>
	
	
	<select id="getBoardNo" resultType="int">
		select seq_tagboard.nextval as bo_no from dual
	</select>


	<insert id="insert" parameterType="kr.or.ddit.vo.TagBoardVO" useGeneratedKeys="true">
			insert into tagboard (
				bo_no, bo_title, bo_content, bo_writer, bo_date, bo_hit
			) values (
				#{boNo}, #{boTitle}, #{boContent}, #{boWriter}, sysdate, 0
			)
	</insert>

 
	<insert id="insertTag" parameterType="kr.or.ddit.vo.TagVO" >
			insert into tag (
				bo_no
				, tag_name
			) values (
				#{boNo}, #{tagName}
			)
	</insert>
	
	<!-- 상세보기를 위한 detail 쿼리 -->
	<select id="detail" parameterType="int" resultMap="tagboardMap">
		select
			a.bo_no
			, bo_title
			, bo_content
			, bo_writer
			, bo_date
			, bo_hit
			, tag_name
		from tagboard a left outer join tag b on(a.bo_no = b.bo_no)
		where a.bo_no = #{boNo}
	</select>
	
	
	<!-- 페이징 처리를 위한 쿼리 -->
	<select id="selectTagBoardCount" parameterType="paginationInfoVO" resultType="int">
		select count(*)
		from tagboard
	</select>
	
	<!-- 페이징 처리를 위한 쿼리 -->
	<select id="selectTagBoardList" parameterType="paginationInfoVO" resultType="kr.or.ddit.vo.TagBoardVO">
		
		select a.*
		from (select
				BO_NO
				, BO_TITLE
				, BO_CONTENT
				, BO_WRITER
				, BO_DATE
				, BO_HIT
				, row_number()over(order by bo_no desc) as rno
				from tagboard 
		where 1=1 
			<if test="searchType == 'title' and searchWord != null">
				and bo_title like '%'||#{searchWord}||'%'
			</if>
			<if test="searchType == 'writer' and searchWord != null">
				and bo_writer like '%'||#{searchWord}||'%'
			</if>
			) a
		
		<![CDATA[
 			where a.rno >= #{startRow} and a.rno <= #{endRow} 
 		]]> 
	</select>
	
	<update id="update" parameterType="kr.or.ddit.vo.TagBoardVO">
		update tagboard
		set bo_title = #{boTitle}
			, bo_content = #{boContent}
			, bo_date = sysdate
		where bo_no = #{boNo}
	</update>
	
	<update id="hit" parameterType="int">
		update tagboard
		set bo_hit = bo_hit + 1
		where bo_no = ${boNo}
	</update>

	
	<delete id="delete" parameterType="int">
		delete from tagboard
		where bo_no = #{boNo}
	</delete>
	
	
	<delete id="deleteTag" parameterType="int">
    	delete from tag 
    	where bo_no = #{boNo}
	</delete>
	

</mapper>
