<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.controller.mapper.IBoardMapper">

	<insert id="insert" parameterType="kr.or.ddit.vo.TagBoardVO" useGeneratedKeys="true">
		<selectKey keyProperty="boNo" resultType="int" order="BEFORE">
			select seq_tagboard.nextval from dual
		</selectKey>
			insert into tagboard (
				bo_no, bo_title, bo_content, bo_writer, bo_date, bo_hit
			) values (
				#{boNo}, #{boTitle}, #{boContent}, #{boWriter}, sysdate, 0
			)
	</insert>

	<insert id="insertTag" parameterType="kr.or.ddit.vo.TagVO">

			insert into tag (
				bo_no
				, tagNm
			) values (
				#{boNo}, #{tagNm}
			)
	</insert>
	
	<select id="detail" parameterType="int" resultType="kr.or.ddit.vo.TagBoardVO">
		select 
			bo_no
			,bo_title
			,bo_content
			,bo_writer
			,bo_date
			,bo_hit
		from tagboard
		where bo_no = #{boNo}
	</select>


</mapper>



















